version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: alpha-skyport-db
    environment:
      POSTGRES_DB: alphaskyport
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: alpha-skyport-redis
    ports:
      - "6381:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
